* {
    padding: 0;
    margin: 0;

}
body {
    background-color: white;
    font-size: 15pt;
}

header {
    color:white;
    text-align: center;
    background-color: black;
    height: 15vh;
}

section#container1 {
    width: 100%;
    height: 70vh;
}

div#box1 {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-indent: 10%;
}

p#box1 {
    text-align: justify;
    text-indent: 10%;
}

section#container2 {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    text-align: center;
}

p#p02 {
    color: red;
    text-align: left;
}

p#p03 {
    color: green;
    text-align: left;
}

p#p01 {
    text-align: left;
}

div#QDD {
    text-align: left;
}

footer {
    text-align: center;
    font-style: italic;
}

select#elementos {
    width: 199px;
    
}